/* Get In Touch Area css
============================================================================================ */
.get_in_touch_area {
  padding-top: 100px;
}
.get_touch_inner {
}
.contact_us_form {
  margin-top: 100px;
  .form-group {
    margin-bottom: 5px;
    input {
      height: 50px;
      border: none;
      border-bottom: 2px solid #e1e1e1;
      border-radius: 0px;
      padding: 0px;
      outline: none;
      box-shadow: none;
      font-size: 13px;
      font-family: $open;
      font-style: italic;
      color: #a5bbd0;
      @include placeholder {
        font-size: 13px;
        font-family: $open;
        font-style: italic;
        color: #a5bbd0;
      }
      &:focus {
        border-image: -moz-linear-gradient(
          0deg,
          rgb(110, 189, 254) 0%,
          rgb(155, 138, 255) 100%
        );
        border-image: -webkit-linear-gradient(
          0deg,
          rgb(110, 189, 254) 0%,
          rgb(155, 138, 255) 100%
        );
        border-image: -ms-linear-gradient(
          0deg,
          rgb(110, 189, 254) 0%,
          rgb(155, 138, 255) 100%
        );
        border-image-slice: 1;
      }
    }
    textarea {
      height: 200px;
      border: none;
      border-bottom: 2px solid #e1e1e1;
      border-radius: 0px;
      padding: 15px 0px;
      outline: none;
      box-shadow: none;
      font-size: 13px;
      font-family: $open;
      font-style: italic;
      color: #a5bbd0;
      resize: none;
      @include placeholder {
        font-size: 13px;
        font-family: $open;
        font-style: italic;
        color: #a5bbd0;
      }
      &:focus {
        border-image: -moz-linear-gradient(
          0deg,
          rgb(110, 189, 254) 0%,
          rgb(155, 138, 255) 100%
        );
        border-image: -webkit-linear-gradient(
          0deg,
          rgb(110, 189, 254) 0%,
          rgb(155, 138, 255) 100%
        );
        border-image: -ms-linear-gradient(
          0deg,
          rgb(110, 189, 254) 0%,
          rgb(155, 138, 255) 100%
        );
        border-image-slice: 1;
      }
    }
    &:last-child {
      margin-top: 40px;
    }
  }
}
.touch_details {
  margin-left: 90px;
  p {
    font-size: 15px;
    line-height: 22px;
    font-family: $rob;
    color: #7c8d93;
  }
  h5 {
    font-size: 18px;
    color: #97ccfe;
    font-family: $rob;
    font-weight: 500;
    display: block;
    padding: 50px 0px 20px 0px;
  }
  h4 {
    font-size: 30px;
    color: #0b1033;
    font-family: $rob;
    font-weight: 500;
  }
}
/* End Get In Touch Area css
============================================================================================ */

/* World Map Area css
============================================================================================ */
.world_map_area {
}
.world_map_inner {
  text-align: center;
  position: relative;
}
.bd-callout {
  text-align: left;
  position: absolute;
  left: 30px;
  top: 50%;
  transform: translateY(-50%);
  max-width: 550px;
  width: 100%;
  background: #fff;
  -webkit-box-shadow: 0px 0px 46px 15px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 0px 46px 15px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 46px 15px rgba(0, 0, 0, 0.15);
  border-left: 8px;
  border-style: solid;
  border-image: -moz-linear-gradient(top, #9b8aff 0%, #6ebcfe 100%);
  border-image: -webkit-linear-gradient(top, #9b8aff 0%, #6ebcfe 100%);
  border-image: linear-gradient(to bottom, #9b8aff 0%, #6ebcfe 100%);
  border-image-slice: 1;
  border-top: 0px;
  border-bottom: 0px;
  border-right: 0px;
  padding-left: 70px;
  padding-top: 35px;
  padding-bottom: 35px;
  h3 {
    font-size: 15px;
    color: $dip;
    font-family: $rob;
    font-weight: 500;
    padding-bottom: 15px;
  }
  p {
    color: $pfont;
    font-size: 15px;
    font-family: $rob;
    font-weight: 500;
    line-height: 22px;
    display: inline-block;
  }
  h4 {
    display: inline-block;
    padding-left: 50px;
    a {
      display: block;
      color: $pfont;
      font-size: 15px;
      font-family: $rob;
      font-weight: 500;
      line-height: 22px;
    }
  }
}

/* End World Map Area css
============================================================================================ */

/* Contact Map Area css
============================================================================================ */
.contact_map_area {
  position: relative;
  overflow: hidden;
  .mapBox1 {
    min-height: 670px;
  }
  .map_location_box {
    position: absolute;
    left: 30px;
    top: 160px;
    width: 100%;
    .bd-callout {
      position: relative;
      top: 0px;
      left: 0px;
      transform: translateY(0);
      &:before {
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 22px 14px 0 0;
        border-color: #fff transparent transparent transparent;
        position: absolute;
        right: -14px;
        top: 0px;
      }
    }
  }
}
/* End Contact Map Area css
============================================================================================ */

/* Contact Success and error Area css
============================================================================================ */
.modal-message {
  .modal-dialog {
    position: absolute;
    top: 36%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%) !important;
    margin: 0px;
    max-width: 500px;
    width: 100%;
    .modal-content {
      .modal-header {
        text-align: center;
        display: block;
        border-bottom: none;
        padding-top: 50px;
        padding-bottom: 50px;
        .close {
          position: absolute;
          right: -15px;
          top: -15px;
          padding: 0px;
          color: #fff;
          opacity: 1;
          cursor: pointer;
        }
        h2 {
          display: block;
          text-align: center;
          color: $baseColor;
          padding-bottom: 10px;
        }
        p {
          display: block;
        }
      }
    }
  }
}
/* End Contact Success and error Area css
============================================================================================ */
