/* Main Menu Area css
============================================================================================ */
.main_menu_area {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  z-index: 30;
  padding: 0px 45px;
  .navbar {
    padding: 0px;
    border-radius: 0px;
    background-color: transparent !important;
    .navbar-toggler {
      border: none;
      border-radius: 0px;
      padding: 0px;
      span {
        height: 3px;
        width: 25px;
        display: block;
        background: $dip;
        margin-bottom: 3px;
        &:last-child {
          margin-bottom: 0px;
        }
      }
    }
    .navbar-collapse {
      @media (min-width: 992px) {
        text-align: right;
        display: block !important;
      }
    }
    .navbar-nav {
      display: inline-block;
      text-align: right;
      li {
        display: inline-block;
        margin-right: 55px;
        a {
          font-size: 13px;
          font-family: $rob;
          font-weight: bold;
          text-transform: uppercase;
          color: #000;
          letter-spacing: 0.65px;
          padding: 0px;
          //   line-height: 118px;
          line-height: 70px;
          @include transition;
        }
        &:last-child {
          margin-right: 0px;
        }
        &.submenu {
          .dropdown-menu {
            @media (min-width: 992px) {
              transform: scaleY(0);
              transition: all 400ms ease-out;
              display: block;
              transform-origin: 50% 0;
              min-width: 250px;
              background: #171717;
              left: auto;
              right: 0px;
              top: 90%;
              border-radius: 0px;
              border: none;
              padding: 30px 0px 30px 0px;
              box-shadow: none;
              visibility: hidden;
            }
            li {
              margin-right: 0px;
              display: block;
              a {
                display: block;
                line-height: 38px;
                color: #fff;
                font-family: $rob;
                letter-spacing: 0.48px;
                font-size: 16px;
                padding: 0px 30px;
                text-transform: inherit;
                @include transition;
                font-weight: normal;
                text-shadow: none;
              }
              &:hover {
                a {
                  color: $baseColor;
                }
              }
            }
          }
        }
        &:hover {
          @media (min-width: 992px) {
            &.submenu {
              .dropdown-menu {
                transform: scaleY(1);
                visibility: visible;
              }
            }
          }
        }
        &:hover,
        &.active {
          a {
            color: $dip;
          }
        }
      }
    }
  }
  &.navbar_fixed {
    position: fixed;
    width: 100%;
    top: -70px;
    left: 0;
    right: 0;
    background: white;
    transform: translateY(70px);
    transition: transform 500ms ease, background 500ms ease;
    -webkit-transition: transform 500ms ease, background 500ms ease;
    z-index: 999999;
    .navbar {
      .navbar-nav {
        li {
          a {
            line-height: 70px;
          }
        }
      }
    }
  }
}
/* End Main Menu Area css
============================================================================================ */
