ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
  &:hover,
  &:focus {
    text-decoration: none;
    outline: none;
  }
}
.row.m0 {
  margin: 0px;
}
.p0 {
  padding: 0px;
}
body {
  line-height: 22px;
  font-size: 15px;
  font-family: $rob;
  font-weight: 500;
}
body,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
  padding: 0px;
}
#success {
  display: none;
}
#error {
  display: none;
}

.display_table {
  display: table;
  width: 100%;
}
.display_table_row {
  display: table-row;
}
.display_table_cell {
  display: table-cell;
  float: none !important;
}
.p_100 {
  padding: 100px 0px;
}
iframe {
  border: none;
}
i {
  &:before {
    margin-left: 0px !important;
  }
}

/* Main title css
============================================================================================ */
.c_title {
  text-align: center;
  padding-bottom: 40px;
  img {
    padding-bottom: 30px;
  }
  h6 {
    font-size: 14px;
    font-family: $rob;
    font-weight: bold;
    text-transform: uppercase;
    color: $pfont;
    padding-bottom: 10px;
  }
  h2 {
    font-size: 48px;
    color: $dip;
    font-family: $rob;
    font-weight: 500;
  }
}
.l_title {
  padding-bottom: 55px;
  img {
    padding-bottom: 30px;
  }
  h6 {
    font-size: 14px;
    font-family: $rob;
    font-weight: bold;
    text-transform: uppercase;
    color: $pfont;
    padding-bottom: 10px;
  }
  h2 {
    font-size: 48px;
    color: $dip;
    font-family: $rob;
    font-weight: 500;
    span {
      font-style: italic;
      color: #6fbbfe;
    }
  }
}

/* Main title css
============================================================================================ */
